<div class = "input-size">
  <%= f.label "Jump to:" %>
  <%= f.date_field :new_date, value: @date, style: "text-align: center;" %>
</div>
<div class = "hide">
  <%= button_tag(type: 'submit') do %>
    <i class="icon-ok icon-white"></i>Jump to Date
  <% end %>
</div>
