<h5>Thanks for joining us at HuddleUp! Let's connect you to other players</h5>
<ol>
	<li>Select your city below!</li>
	<li>Select the sport you want to play</li>
	<li>Join or create games happening around your city</li>
</ol>
