<div id = "landing-page">  
  <div class="container page-push">
    <div class="row valign-wrapper page-push center-align">
      <div class="description col s12 l6 valign">
          <h3><strong>Find a city.</strong></h3>
          <h3><strong>Find a game.</strong></h3>
          <h3 style="color:#ff5722;"><strong>Square Up.</strong></h3>
      </div>
      <div class="city-login col s12 l6 valign center-align">
          <h4 class="header">To find sports in your city</h4>
          <% @locations.each do |location| %>
            <%= render partial: "locations/location", locals: {location: location} %><span style="color:#ff5722;">|</span>
          <% end %>
          <br><br>
          <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in", class: "waves-effect waves-light btn blue darken-2" %>
      </div>
    </div>
  </div>
</div>
