<div class="row">
	<div class="col s12 center-align">
		<h4>Welcome to SquareUp!</h4>
		<h6> We connect people through casual sports events in your local park</h6>
	</div>
</div>
<div class="row">
	<div class="red lighten-1 col s12" id="city-select">
		<h4 class="center-align">Select A City</h4>
		<% @locations.each do |location| %>
	        	<%= render partial: "locations/locations", locals: {location: location} %>
	    <% end %>
		<!-- <select class="browser-default">
	        <option value="" disabled selected>Choose your option</option>
	        
	      </select> -->
	</div>
</div>