<% if current_creator_has_valid_teams(game) %>
  <p>Add Team To Game</p>
  <ul>
    <% game.valid_teams.each do |team| %>
      <%= form_for team.name, url: team_add_path(@location, @sport, @game, team) do |f| %>
        <%= button_tag(type: 'submit', class: "waves-effect waves-light btn deep-orange") do %>
          <i class="icon-ok icon-white"></i><%= team.name %>
        <% end %>
      <% end %>
    <% end %>
  </ul>
<% end %>
