<table class="centered">
  <thead>
    <tr>
      <th data-field="id">Players</th>
    </tr>
  </thead>
  <tbody>
    <% participants.each do |participant| %>
      <tr>
        <td><%= render partial: "participant", locals: {participant: participant} %></td>
      </tr>
    <% end %>
  </tbody>
</table>
