<%= form_for @game, url: location_sport_game_path(@location, @sport, @game) do |f| %>
  <%= render partial:"edit_form", locals: {f: f, game: @game} %>
<% end %>

<% if @game.errors.any? %>
  <ul>
    <% @game.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>
