<%= form_for @game, url: location_sport_games_path(@location, @sport) do |f| %>
  <%= render partial: "new_form", locals: {f: f} %>
<% end %>

<% if @game.errors.any? %>
  <ul>
    <% @game.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>
