/*body.huddle-image
{
  background: url("huddle.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;

}*/
/*.container {
  width: 95%;
  height: 100%;
  margin: 0 auto;
  border: 1px solid;
}*/
