html, body, #map-canvas, #map_container
{
	   margin: 0;
	   padding: 0;
	   height: 100%;
}
#map-canvas
{
	height:500px;
	width:100%;
	margin-bottom: 15px;
}

.game-buttons a {
  color: #fff;
}


#sport-show-table {

}

::-webkit-input-placeholder {
   color: white;
}

:-moz-placeholder { /* Firefox 18- */
   color: white;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;  
}

:-ms-input-placeholder {  
   color: white;  
}

body #landing-page{
	height:100%;
	background: url(huddle.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.fa-facebook
{
	color:#fff;
}