html, body
{
 	width: 100%;
	margin: 0;
	padding: 0;
	height: 100%;
}

.game-buttons a {
  color: #fff;
}


::-webkit-input-placeholder {
   color: white;
}

:-moz-placeholder { /* Firefox 18- */
   color: white;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;
}

:-ms-input-placeholder {
   color: white;
}

body #landing-page{
	height:100%;
	background: image-url("huddle.png") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.description, .header, .location-links
{
	color:white;
}

.page-push
{
	height:100%;

}
.hide
{
	display: none;
}

.game-title
{
	color:white;
	font-size: 24px;
}
.game-title:hover
{
	color:#ff9800;
}

.game-info
{
	font-size: 16px;
}

.game-show-info
{
	font-size: 24px;
}
.img-border
{
	border: 3px solid #ff5722;
	margin-right: 10px;
}
.profile
{
	padding:35px;
	margin-top: 125px;
	margin-bottom: 125px;
	min-height: 525px
}

.game-buttons
{
	color: #ff5722;
}
.input-size
{
	width: 250px;
}

.error-style
{
	text-align:center;
	color:red;
}

.creative-commons
{
	font-size: 8px;
	color:white;
}

.creative-commons a
{
	color:black;
}

.sport-image
{
	height: 128px;
	width: 128px;
	margin: 10px auto;
}

.bread-crumbs
{
	padding-left: 200px;
}

#game-title {
  border-bottom: 2px solid white;
}

.game-data
{
	color: #212121;
}
