html, body, #map-canvas, #map_container
{
	   margin: 0;
	   padding: 0;
	   height: 100%;
}
#map-canvas
{
	height:500px;
	width:100%;
	margin-bottom: 15px;
}

.game-buttons a {
  color: #fff;
}

#sport-show-table {

}

::-webkit-input-placeholder {
   color: white;
}

:-moz-placeholder { /* Firefox 18- */
   color: white;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;
}

:-ms-input-placeholder {
   color: white;
}
