<div class = "container">
  <div class="card white profile">
    <% @sports.each do |row| %>
    <div class="row">
      <% row.each do |sport| %>
      <div class="col s12 m4 l4 ">
          <div class="card">
            <a href = "/locations/<%= @location.id %>/sports/<%= sport.id %>">
            <div class="card-image waves-effect waves-block waves-light">
               <%= image_tag("sports") %>
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4 center-align flow-text"><h5><%= render partial: "sport", locals: {sport: sport} %></h5></span>
            </div>
            </a>
          </div>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
